/*mail*/

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

/*pass*/

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

/*button*/
.example-button-col button,
.example-button-col a {
  display: flex;
  justify-content: center;
}
.btn-l{
margin: auto;
}
.btn-fp{
color: rgb(47, 134, 216);
size: 0.80rem;
}
