<div class="d-flex justify-content-center p-5">
  <mat-card>
    <mat-card-content>
      <div class="col">
        <mat-card-title>Sign in</mat-card-title>

        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="example-button-col">
          <button mat-raised-button class="btn-l mt-2">Login</button>

          <a mat-flat-button routerLink="." class="btn-fp mt-3">Forgot Password</a>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
